apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: overleaf
  labels:
    app: mongodb
spec:
  type: NodePort
  ports:
    - port: 27017
      targetPort: 27017
      nodePort: {{ .Values.mongodb.port | int }}
      protocol: TCP
      name: mongodb
  selector:
    app: mongodb
