apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: overleaf
  labels:
    app: mongodb
spec:
  clusterIP: None  # Headless service for StatefulSet
  ports:
    - port: 27017
      targetPort: 27017
      protocol: TCP
      name: mongodb
  selector:
    app: mongodb
