apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: overleaf
  labels:
    app: redis
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:6.2
          imagePullPolicy: IfNotPresent
          command:
            - redis-server
            - --appendonly
            - "yes"
          ports:
            - containerPort: 6379
              name: redis
          volumeMounts:
            - name: redis-data
              mountPath: /data
          livenessProbe:
            exec:
              command:
                - redis-cli
                - ping
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            exec:
              command:
                - redis-cli
                - ping
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
          resources:
            requests:
              memory: {{ .Values.resources.redis.requests.memory | quote }}
              cpu: {{ .Values.resources.redis.requests.cpu | quote }}
            limits:
              memory: {{ .Values.resources.redis.limits.memory | quote }}
              cpu: {{ .Values.resources.redis.limits.cpu | quote }}
      volumes:
        - name: redis-data
          persistentVolumeClaim:
            claimName: redis-pvc
