apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
  namespace: overleaf
  labels:
    app: redis
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.redis.storage.storageClass }}
  resources:
    requests:
      storage: {{ .Values.redis.storage.size }}
